/* all css code goes in here for standardisation */

/* HOME */

body{
    font-family: 'Poppins';
    background-color: #FFF6D8;
}


#myVideo {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 600px;
    opacity: 0.6;
    position: relative;
    object-fit: cover;
}

.content{
    position: absolute;
    z-index: 1;
    font-size: 28px;
    color: white;
    margin: 0;
    transform: translate(-50%, -50%);
    width: 85%;
    text-align: left;
    top: 50%;
    left: 57.5%;
    font-weight: bold;
}

header{
    position: relative;
}

.content{
    text-align: left;
    color: white;
    font-weight: bolder;
    font-size: 40px;
}

#title{
    font-weight: bolder;
    font-size: 50px;
}

button{
    background-color: #D9D9D9;
    border: none;
    color: white ;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    border-radius: 35px;
    transition: 0.3s;
    font-weight: bold;
}

button:hover{
    background-color: #FFE48C;
    color: black;

}

.three_box {
    padding: 0 40px;
    position: relative;
    text-align: center;
    
}

.box_text {
    background: #fff;
    text-align: center;
    padding: 30px 10px 10px 10px;
    margin-top: -80px;
    box-shadow: #ddd 0px 0px 14px -6px;
    background-color: #FFE48C;
    border-radius: 20px;
    transition: all .2s ease-in-out;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.box_text:hover{
    transform: scale(1.05);
}

.box_text h3 {
    color: #121010;
    font-size: 25px;
    font-weight: 600;
}

.box_text p {
    font-size: 15px;
}

#counters{
    margin-top: 8vw;
    margin-bottom: 8vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

#counters img{
    width: 110px;
    height: 110px;
}

#counters h1{
    font-size: 80px;
    font-weight: bolder;
    margin-top: 1vw;
}

#counters p{
    font-size: 30px;
    font-weight: bolder;
}

.six_box {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 10vw;
}

.six_box img{
    height: 30%;
    width: 30%;
    margin-bottom: 0.8vw;
}

.six_box .six_probpx {
    text-align: center;
    margin-top: 3vw;
    margin-bottom: auto;
}

.six_box .six_probpx i {
    display: block;
}

.pa_left {
    padding-left: 0;
    padding-right: 0;
    background-color: #D9D9D9;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    border-radius: 10px;
    width: 170px;
    height: 170px;
    transition: 0.3s;
}

.six_box .six_probpx span {
    color: black;
    font-size: 13px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: bold;;
}

#secondrow{
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.six_box h1{
    font-size: 60px;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 2vw;
}

.pa_left:hover{
    transform: scale(1.05);
}

/* NAVBAR */
nav {
    padding: 30px;
  }
  
nav a {
font-weight: bold;
color: white;
}

.navbar{
    /* overlay navbar over video */
    position: absolute;
    z-index: 1;
    width: 100%;
    background:none;
    border-radius: 0px 0px 20px 20px;
    margin-top: 1vw;
}

.navbar-brand{
    font-weight: bolder;
    padding-right: 1.5vw;
    font-size: 25px;
}

.navbar .nav-item{
    margin-left: 0.8vw;
    margin-right: 0.8vw;
}

.nav-link{
    color: white;
}

/* ABOUT US */

.section{
    background-color: #FFE48C;
    padding-top: 4vw;
}

.abouttop{
    padding-top: 3vw;
    padding-bottom: 3vw;
    text-align: center;
    /* center all items */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;  
}

.abouttop img{
    height: 400px;
    width: 400px;
    opacity: 0.85;
    text-align: left;
}

.about-title{
    font-size: 40px;
    font-weight: bolder;
    text-align: left;
}

.about-desc{
    font-size: 18px;
    text-align: left;
}

.numbers{
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers h1{
    font-size: 45px;
    font-weight: bolder;
    margin: 0;
}

.numbers p{
    font-size: 30px;
    font-weight: bolder;
    margin: 0;
}

.numbers div{
    margin-top: 2vw;
    margin-bottom: 1vw;
}

.mtt{
    margin-left: 2vw;
    margin-right: 2vw; 
    padding-bottom: 3vw; 
}

.mtthead{
    text-align: center;
    padding-top: 8vw;
    padding-bottom: 3vw;
}

.card img, .card-body{
    padding: 1.5vw;
}

.card{
    background-color:#D9D9D9;
    border: none;
    transition: 0.3s;
}

.card-body p{
    font-size: small;
}

.mtt .col{
    transition: 0.3s;
}

.mtt .col:hover{
    transform: scale(1.05);
}

.card:hover{
    background-color: #FFE48C;
}

.how-it-works img{
    width: 70px;
    height: 70px;
}

.how-it-works h4{
    padding-top: 2vw;
    padding-bottom: 0.5vw;
    font-weight: bold;
}

.how-it-works div{
    padding-left: 2vw;
    padding-right: 2vw;
}

.hiw{
    margin-top: 8vw;
    margin-bottom: 8vw;
}

.hiw h1{
    margin-bottom: 3vw;
}

.hiw p{
    font-size: 15px;
}

.about h1{
    font-weight: bolder;
    text-align: center;
}

.aboutvid{
    height:100%;
    width:100%;
    overflow: hidden;
    position: relative;
}

.aboutvid video{
    position: relative;
}

.aboutvid p{
    /* move up */
    position: absolute;
    z-index: 1;
    font-size: 28px;
    color: white;
    margin: 0;
    transform: translate(-50%, -50%);
    width: 85%;
    text-align: left;
    top: 40%;
    left: 50%;
    font-weight: bold;
}

.aboutvid button{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 12.5%;
    text-align: left;
    font-weight: bold;
    color: white;
    z-index: 1;
    margin: 0;
}

/* FOOTER */

.footer-basic {
    padding:40px 0;
    background-color:#D9D9D9;
    color:#4b4c4d;
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}

.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
    transition: 0.3s;
}

.footer-basic .social > a:hover {
    opacity:1;
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}

.list-inline-item{
    font-size: medium;
}