/* all css code goes in here for standardisation */

/* HOME */

body{
    font-family: 'Poppins';
    background-color: #FFF6D8;
}


#myVideo {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 600px;
    opacity: 0.6;
    position: relative;
    object-fit: cover;
}

.content{
    position: absolute;
    z-index: 1;
    font-size: 28px;
    color: white;
    margin: 0;
    transform: translate(-50%, -50%);
    width: 85%;
    text-align: left;
    top: 50%;
    left: 57.5%;
    font-weight: bold;
}

header{
    position: relative;
}

.content{
    text-align: left;
    color: white;
    font-weight: bolder;
    font-size: 40px;
}

#title{
    font-weight: bolder;
    font-size: 50px;
}

button{
    background-color: #D9D9D9;
    border: none;
    color: white ;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    border-radius: 35px;
    transition: 0.3s;
    font-weight: bold;
}

button:hover{
    background-color: #FFE48C;
    color: white;

}

.action{
    padding-right: 10vw;
    padding-left: 10vw;
}

.box_text {
    top: -50%;
    position:relative;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px 10px 10px 10px;
    background-color: #FFE48C;
    border-radius: 20px;
    transition: 0.3s;
    margin-left: 1vw;
    margin-right: 1vw;
}

.home-2{
    color: black;
}

.home-2 img{
    width: 45px;
    height: 100%;
    padding-bottom: 10px;
    margin-right: 10px;
}

.home-2 span{
    font-size: 25px;
    font-weight: bold;
}

.box_text:hover{
    transform: scale(1.05);
}

#counters{
    margin-top: 4vw;
    margin-bottom: 8vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

#counters img{
    width: 110px;
    height: 110px;
}

#counters h1{
    font-size: 80px;
    font-weight: bolder;
    margin-top: 1vw;
}

.counter-ani{
    font-size: 80px;
    font-weight: bolder;
    margin-top: 1vw;
}

#counters p{
    font-size: 30px;
    font-weight: bolder;
}

.explore{
    margin-bottom: 8vw;
}

.explore-row{
    /* align divs center */
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.explore-title{
    font-size: 60px;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 2vw;
}
.words{
    margin-top: 40px;
    margin-bottom: 40px;
}
.words p{
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}
.explore-item{
    background-color: #D9D9D9;
    height: 160px;
    width: 160px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.explore-item:hover{
    transform: scale(1.05);
}

.explore-item img{
    width: 50px;
    height: 50px;
}

/* NAVBAR */
nav {
    padding: 30px;
  }
  
nav a {
font-weight: bold;
color: white;
}

.navbar-toggler{
    border: none !important;
    cursor: pointer;
    text-align: center;
}

.navbar-toggler:hover{
    background-color: transparent !important;
    color: white;
}

.navbar-toggler-icon{
    color: white;
    height: 30px;
    width: 30px;
    transform: rotate(90deg);
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar{
    /* overlay navbar over video */
    position: absolute;
    z-index: 1;
    width: 100%;
    background:none;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    /* make sticky */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: 0.3s;
}

.change_color {
    background-color:#FFE48C;
}

.navbar-brand{
    font-weight: bolder;
    padding-right: 1.5vw;
    font-size: 25px;
    color: white;
}

.navbar .nav-item{
    margin-left: 0.8vw;
    margin-right: 0.8vw;
}

.nav-link{
    color: white;
}

a {
  color: #fff;
  text-decoration: none;
}

.nav-item{
    text-align: right;
    font-size: 15px;
}



/* ABOUT US */

.section{
    background-color: #FFE48C;
    padding-top: 4vw;
}

.abouttop{
    padding-top: 3vw;
    padding-bottom: 3vw;
    text-align: center;
    /* center all items */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;  
}

.abouttop img{
    height: 400px;
    width: 400px;
    opacity: 0.85;
    text-align: left;
}

.about-title{
    font-size: 40px;
    font-weight: bolder;
    text-align: left;
}

.about-desc{
    font-size: 18px;
    text-align: left;
}

.numbers{
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers h1{
    font-size: 45px;
    font-weight: bolder;
    margin: 0;
}

.numbers p{
    font-size: 30px;
    font-weight: bolder;
    margin: 0;
}

.counter-ani-abt{
    font-size: 45px;
    font-weight: bolder;
    margin: 0;
}

.numbers div{
    margin-top: 2vw;
    margin-bottom: 1vw;
}

.mtt{
    margin-left: 2vw;
    margin-right: 2vw; 
    padding-bottom: 3vw; 
}

.mtthead{
    text-align: center;
    padding-top: 8vw;
    padding-bottom: 3vw;
}

.card img, .card-body{
    padding: 1.5vw;
}

.card{
    background-color:#D9D9D9;
    border: none;
    transition: 0.3s;
}

.card-body p{
    font-size: small;
}

.mtt .col{
    transition: 0.3s;
}

.mtt .col:hover{
    transform: scale(1.05);
}

.card:hover{
    background-color: #FFE48C;
}

.how-it-works img{
    width: 70px;
    height: 70px;
}

.how-it-works h4{
    padding-top: 2vw;
    padding-bottom: 0.5vw;
    font-weight: bold;
}

.how-it-works div{
    padding-left: 2vw;
    padding-right: 2vw;
}

.hiw{
    margin-top: 8vw;
    margin-bottom: 8vw;
}

.hiw h1{
    margin-bottom: 3vw;
}

.hiw p{
    font-size: 15px;
}

.about h1{
    font-weight: bolder;
    text-align: center;
}

.aboutvid{
    height:100%;
    width:100%;
    overflow: hidden;
    position: relative;
}

.aboutvid video{
    position: relative;
}

.aboutvid p{
    /* move up */
    position: absolute;
    z-index: 1;
    font-size: 28px;
    color: white;
    margin: 0;
    transform: translate(-50%, -50%);
    width: 85%;
    text-align: left;
    top: 40%;
    left: 50%;
    font-weight: bold;
}

.aboutvid button{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 12.5%;
    text-align: left;
    font-weight: bold;
    color: white;
    z-index: 1;
    margin: 0;
}

/* FOOTER */

.footer-basic {
    padding:25px 0;
    background-color:#D9D9D9;
    color:#aaa;
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:15px;
}

.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:2px solid #aaa;
    margin:0 8px;
    color:inherit;
    opacity:1;
    transition: 0.3s;
}

.footer-basic .social > a:hover {
    color: black;
    border: 2px solid black;
}

.footer-basic .copyright {
    margin-top:10px;
    text-align:center;
    font-size:13px;
    color: #aaa;
    margin-bottom:0;
    font-weight: bold;
}

.list-inline-item{
    font-size: medium;
}

/* Login and Register and Edit Profile */
.errcode {
    color: red;
    font-weight: bold;
}

/* LOGIN */
/* make video full screen background */
.login{
    position: absolute;
    padding-top: 200px;
}

.login-table{
    height:300px;
    width:100%;
    overflow: hidden;
    position: relative;
    border: none;
}

#loginvid {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.login-table td{
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
    transform: translateX(0);
}

.cc{
    margin-top: 5vw;
    margin-bottom: 7vw;
}

.card{
    margin-left: 10px;
    margin-right: 10px;
}

/* PROFILE */

.profile-all:hover{
    background-color: #D9D9D9;
}

.profile-container{
    margin-top: 5vw;
    margin-bottom: 6.5vw;
}

.i-i{
    height: 250px;
    overflow-y: scroll;
    border-radius: 0px;
}

.i-i-title{
    padding-top: 20px;
    padding-bottom: 20px;
}

.i-i img{
    width:80px;
    height: 100%;
}

/* change img size when screen small */
@media (max-width: 767px) {
    .i-i img{
        width: 50px;
        height: 100%;
    }
}

.i-i li{
    padding-top: 0px;
    padding-bottom: 0px;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* SETUP PROFILE */

.container-prof{
    width: 500px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 50px 35px 10px 35px;
    margin-top: 3vw;
    margin-bottom: 4vw;
  }
  .container-prof header{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
  }
  .container-prof .form-outer{
    width: 100%;
    overflow: hidden;
  }
  .container-prof .form-outer form{
    display: flex;
    width: 400%;
  }
  .form-outer form .page{
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
    
  }
  .form-outer form .page .title{
    text-align: left;
    font-size: 25px;
    font-weight: 500;
  }
  .form-outer form .page .field{
    width: 330px;
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
  }
  form .page .field .label{
    position: absolute;
    top: -30px;
    font-weight: 500;
  }
  form .page .field input{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
  }
  form .page .field select{
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
  }
  form .page .field button{
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: #FFE48C;
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
  }
  form .page .field button:hover{
    background: #d9d9d9;
  }
  form .page .btns button{
    margin-top: -20px!important;
  }
  form .page .btns button.prev{
    margin-right: 3px;
    font-size: 17px;
  }
  form .page .btns button.next{
    margin-left: 3px;
  }
  .container-prof .progress-bar{
    display: flex;
    margin: 40px 0;
    user-select: none;
    background-color: white;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container-prof .progress-bar .step{
    text-align: center;
    width: 100%;
    position: relative;
    width: 25%;
    display: inline;
    
  }
  .container-prof .progress-bar .step p{
    font-weight: 500;
    font-size: 18px;
    color: #d9d9d9;
    margin-bottom: 8px;
    
  }
  .progress-bar .step .bullet{
    height: 25px;
    width: 25px;
    border: 2px solid #d9d9d9;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #D9D9D9;
  }
  .progress-bar .step .bullet.active{
    border-color: black;
    background: black;
  }
  .progress-bar .step .bullet span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .progress-bar .step .bullet.active span{
    display: none;
  }
  .progress-bar .step .bullet:before,
  .progress-bar .step .bullet:after{
    position: absolute;
    content: '';
    bottom: 9px;
    right: -64px;
    height: 3px;
    width: 44px;
    background: #D9D9D9;
  }
  .progress-bar .step .bullet.active:after{
    background: black;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .progress-bar .step:last-child .bullet:before,
  .progress-bar .step:last-child .bullet:after{
    display: none;
  }
  .progress-bar .step p.active{
    color: black;
    transition: 0.2s linear;
  }
  .progress-bar .step .check{
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
  }
  .progress-bar .step .check.active{
    display: block;
    color: #D9D9D9;
  }

.temp{
    text-align: center;
}

.form-check-input{
    height: 20px !important;
    width: 20px !important;
}

.field-int{
    margin: 10px;
    text-align: left;
}

/* EDIT PROFILE */
.edit-title{
    text-align: left;
    font-weight: bold;
}

/* SEARCHVIEW */

.card-csp{
    background-color: white;
    transition: box-shadow .3s;
    transition: 0.3s;
}

.card-csp:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    background-color: white;
}

.filter-nav{
    margin-right: 20px;
    float: left;
}

.cards-all{
    float: right;
}

.searchbar{
    margin-bottom: 15px;
}

.list-item{
    background-color: white;
    border-radius: 12px;
}

.album .list-group-item{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.parent, .child{
    font-size: 10px;
}

.parent{
    float: left;
}

.csp-deets{
    font-size: 13px;
}

input#flexSwitchCheckChecked {
    bottom: 0;
    right: 50%;
    transform: translate(50%, 0);
    width: 30px !important;
}

.show-map{
    text-align: left;
}